[submodule "vendor/remake-ninja"]
	path = vendor/remake-ninja
	url = https://github.com/jimon/premake-ninja.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/nlohmann"]
	path = vendor/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
